:root {
    --width: 50vh;
    --height: 50vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
    background: #0e1433;
    flex-direction: column;
    font-family: Arial, sans-serif;
	user-select: none;
	   cursor: url('gold-dot.svg'), auto; /* Укажите путь к вашему SVG-файлу */
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    perspective: 2000px;
    gap: 10vh;
    /* Увеличенное значение perspective */
}

.cube-container {
    text-align: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	    position: relative;
}

.cube {
    width: var(--width);
    height: var(--height);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    border-radius: 10px;
    /* Закругленные углы */
}

.face {
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(var(--width) / 2);
    font-weight: 900;
    /* Размер цифр адаптируется под размер кубика */
    color: gold;
    /* Золотистые цифры */
    border: calc(var(--width) / 15) solid gold;
    /* Золотистая обводка */
    border-radius: calc(var(--width) / 5);
    /* Закругленные углы */
    backface-visibility: hidden;
    /* Скрываем задние грани */
    box-sizing: border-box;
    /* Учитываем обводку в размерах */
}

        .controls {
    position: absolute;
    bottom: -120px;
    width: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
        }

        .controls button {

margin: 5px;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    /* cursor: pointer; */
	   cursor: url('gold-dot.svg'), auto; /* Укажите путь к вашему SVG-файлу */
    opacity: .05;
    height: 10vh;
    background: #0e1433;

        }

       .controls button:hover {
            /* cursor: url('gold-dot-large.svg'), auto; /* Большая золотая точка */ */
        }


/* Левый кубик (Знатоки) */
#cube1 .face {
    background: linear-gradient(45deg, #ff007f, #ff66b2);
    /* background: linear-gradient(45deg, rgb(147, 32, 101), #ff66b2); */
    /* Розовый глянцевый фон */
}

/* Правый кубик (Телезрители) */
#cube2 .face {
    background: linear-gradient(45deg, #000000, #333333);
    /* Черный глянцевый фон */
}

.front {
    transform: rotateY(0deg) translateZ(calc(var(--width) / 2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--width) / 2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--width) / 2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--width) / 2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--width) / 2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--width) / 2));
}

h2 {
    margin-bottom: 20px;
    font-size: 3vw;
    font-size: calc(var(--width) / 10);
    /* Размер надписи адаптируется под размер экрана */
    color: gold;
    /* Золотистый цвет надписей */
    text-align: center;
}
